* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 26px;
  max-width: 1545px;
  margin: 0 auto;
}

.comparison-wrapper {
  position: relative;
  width: 52em;
  height: 20em;
}

.full-render {
  position: fixed;
  top: 0;
  left: 0;
  height: 25em;
  width: 20em;
}

.sketch-and-toon {
  position: fixed;
  top: 0;
  left: 0;
  height: 25em;
  width: 20em;
}

.gutter {
  position: fixed;
  top: 0;
  right: 1.75em;
  cursor: e-resize;
  height: 36.85em;
  background: grey;
  margin-left: auto;
}