* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 26px;
  max-width: 1545px;
  margin: 0 auto;
}

div.verge-3d {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

div.verge-3d iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
  display: flex;
  width: 100%;
  height: 29.25em;
  justify-items: center;
  align-items: center;
}

.split {
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 1px solid;
}

.comparison-wrapper {
  width: 100%;
  height: 16.66em;
}

.full-render {
  height: 100%;
  margin-top: 0.75em;
}

.sketch-and-toon {
  height: 100%;
  margin-top: 0.75em;
}

.a {
  background: url("../images/render.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-top: 1.75em;
}

.b {
  background: url("../images/sketch.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-top: 1.75em;
}

.c {
  background: url("../images/sketch-toon-blue.jpg");
  background-attachment: local;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-top: 1.75em;
}
.d {
  background: url("../images/sketch-toon-green.jpg");
  background-attachment: local;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-top: 1.75em;
}

.gutter {
  cursor: e-resize;
  height: 100%;
  background: grey;
  margin-top: 1.75em;
}